body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}
.invalid-feedback {
    font-size: 0.875rem;
    color: #dc3545;
}
#result-message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
}

#result-message.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

#result-message.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.hidden {
    display: none;
}
